<div class="row">
	<div class="center col-12">
		<h1>Jouw email adres is gevalideerd</h1>
		<p>Dit wordt elk moment zichtbaar in de app. Je kunt dit venster nu sluiten.</p>

		<div class="center col-6">
			<p><img src="/img/handshake.png" /></p>
		</div>
	</div>
</div>

