	<div class="row">
		<div class="center col-12">
			<h1>Oeps, er ging wat mis...</h1>
			
			<p>Ga terug, probeer het opnieuw of neem contact met ons op als het probleem zich voor blijft doen.</p>
			
		
			<p>Details van deze fout:<br/><br/>
			{{error}}
			</p>
			
		</div>
	</div>
