<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{#if title}}{{title}} -{{/if}} Schluss</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/ico" href="/favicon.ico">
	<link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/organization.css">

</head>
<body>

<div class="wrapper">

	<div class="header">
		<div class="container small">
			<div class="row">
				<div class="center">
					<img src="/img/schluss-logo.svg" class="" alt="logo"/>
				</div>
			</div>
		</div>
	</div>
	
	<div class="main">
		<div class="container">
		{{{body}}}
		</div>
	</div>

</div>

</body>
</html>
